* {
  /* outline: 2px solid red; */
  margin: 0px;
}

 @font-face {
        font-family: "Norse";
        scr: url("./fonts/Norse-Bold.otf") format("otf");
        font-style: normal;
    }

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.split-screen {
    flex: 1 1 0%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 12px;
}

.leafs {
    position: absolute;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

.card-body {
    position: absolute;
    width: 100%;
    top: 16rem;
    background: black;
    opacity: 0.6;
    color: white;
    font-size: 60px;
    text-align: center;
    font-family: 'Norse', 'Times New Roman', Times, serif;
}

.logo {
    height: 100px;
}

.small-copy {
    font-size: 12px;
    color: white;
    margin-bottom: 12px;
}

.right {
    flex: 2 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-one {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 32px;
    background-color: rgb(244, 244, 244);
}

.section-two {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: white;
    padding: 32px;
    box-shadow: 0px 4px 8px 0px lightgrey;
    align-self: flex-start;
    width: 100%;
}

form {
    display: flex;
    flex-direction: row;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 20px;
}

.form-element {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 4px;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  width: 280px;
}

input:focus {
  border-color: #596D48;
  outline: none;
  box-shadow: 0 0 4px rgba(89, 109, 72, 0.6);
}

.section-three {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding: 32px;
    gap: 24px;
    background-color: rgb(244, 244, 244);
}

#create-account {
    height: min-content;
    padding: 16px;
    background-color: #596D48;
    color: white;
    font-weight: 600;
    font-size: 24px;
    border: #596D48;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 0px rgb(185, 185, 185);
}




